Source: thrift-fb303
Section: misc
Priority: extra
Maintainer: goffinet <goffinet@digg.com>
Build-Depends: debhelper (>= 5), autotools-dev, autoconf, automake, libtool, libthrift-dev, libboost-dev, thrift-compiler, python, python-thrift
Standards-Version: 3.7.2

Package: thrift-fb303
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Facebook's contrib fb303 library
 A standard interface to monitoring, dynamic options and configuration, uptime reports, activity, etc.
